@model JustGoTravel.Models.VacationPack.VacationCreate

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>

        <dl class="dl-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="container">
                <div class="row" style="background-color:lightgray">
                    <div class="col"></div>
                    <div class="col">
                        <h2>Add Vacation</h2>
                    </div>
                    <div class="col"></div>
                </div>
                <hr />

                <div class="row">
                    <div class="col">
                        <h3>HME</h3>
                        <p>Home</p>
                    </div>
                    <div class="col">
                        <img src="https://cdn0.iconfinder.com/data/icons/gcons-2/22/airplane1-512.png" width="50" height="50" />
                    </div>
                    <div class="col">
                        <h3>DMV</h3>
                        <p>Dream Vacation</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.AgentID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AgentID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AgentID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>


                <div class="row">
                    <div class="col"></div>
                    <div class="col">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col"> </div>
                </div>

                <div class="row">
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TripLength, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TripLength, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TripLength, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TotalCost, new { htmlAttributes = new { @class = "form-control" } })
                                $  @Html.ValidationMessageFor(model => model.TotalCost, "", new { @class = "text-danger" }).00
                            </div>
                        </div>

                    </div>
                    <div class="col">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Included, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Included, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Included, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col"><img src="https://cdn.pixabay.com/photo/2014/04/02/16/19/barcode-306926_1280.png" width="250" height="40" /></div>
                    <div class="col"></div>

                    <div class="col">
                    </div>

                </div>
        </dl>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
