@model JustGoTravel.Models.VacationPack.VacationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VacationDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgentFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Included)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Included)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfPublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfPublication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
