@model JustGoTravel.Models.VacationPack.VacationDetail

@{
    ViewBag.Title = "Details";
}


<div>

    <dl class="dl-horizontal">
        <div class="container">
            <div class="row" style="background-color:lightgray">
                <div class="col"></div>
                <div class="col">
                    <h2>Details</h2>
                </div>
                <div class="col"></div>
            </div>
    <hr />

            <div class="row">
                <div class="col">
                    <h3>HME</h3>
                    <p>Home</p>
                </div>
                <div class="col">
                    <img src="https://cdn0.iconfinder.com/data/icons/gcons-2/22/airplane1-512.png" width="50" height="50" />
                </div>
                <div class="col">
                    <h3>DMV</h3>
                    <p>Dream Vacation</p>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.AgentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AgentName)
                    </dd>
                </div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.AgentFirst)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AgentFirst)
                    </dd>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>


            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                </div>
                <div class="col"> </div>
            </div>

            <div class="row">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.TripLength)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TripLength)
                    </dd>
                </div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.TotalCost)
                    </dt>

                    <dd>$
                        @Html.DisplayFor(model => model.TotalCost).00
                    </dd>
                </div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.Included)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Included)
                    </dd>
                </div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.TimeOfPublication)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TimeOfPublication)
                    </dd>
                </div>


            </div>

            <div class="row">
                <div class="col"><img src="https://cdn.pixabay.com/photo/2014/04/02/16/19/barcode-306926_1280.png" width="250" height="40" /></div>
                <div class="col"></div>

                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUtc)
                    </dd>
                </div>

            </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
