@model IEnumerable<JustGoTravel.Models.VacationPack.VacationListItem>

@{
    ViewBag.Title = "Index";
}



<h2>Packages</h2>



@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-striped">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfPublication)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TimeOfPublication)
            </td>
            <td>
                <div class="btn-group  btn-group-toggle" data-toggle="buttons">
                    <label class=" btn btn-outline-secondary">
                        <input type="radio" name="options" id="Option1" />
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </label>
                    <label class=" btn btn-outline-secondary">
                        <input type="radio" name="options" id="Option1" />
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </label>
                    <label class=" btn btn-outline-secondary">
                        <input type="radio" name="options" id="Option1" />
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </label>
                </div>
            </td>
        </tr>
    }

</table>

<button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:whitesmoke;">@Html.ActionLink("Create New", "Create")</button>
 