@model JustGoTravel.Models.Agent.AgentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Agent Info</h2>

<div>

    <hr />
    <dl class="dl-horizontal">



        <div class="container">

            <div class="row">
                <div class="col"></div>
                <div class="col">

                    <dt style="font-size:x-small">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd style="font-size:xx-large">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                </div>
                <div class="col">
                    <dt style="font-size:x-small">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd style="font-size:xx-large">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">

                    <dt style="font-size:x-small">
                        @Html.DisplayNameFor(model => model.Company)
                    </dt>

                    <dd style="font-size:xx-large">
                        @Html.DisplayFor(model => model.Company)
                    </dd>
                </div>
                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <dt style="font-size:x-small">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <dt>
                        @Html.DisplayNameFor(model => model.LinkedIn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LinkedIn)
                    </dd>

                </div>
                <div class="col"></div>
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
